
.App {
  height: 0;
  text-align: center;
  height:fit-content;
  width: fit-content;
  background: #FFFFFF;
  
}
.landing{
  height: 850px;
  width: 100%;
  margin: auto;
  background: rgb(0,2,14);
  background: linear-gradient(97deg, rgba(0,2,14,1) 0%, rgba(52,9,9,1) 77%, rgba(3,0,24,1) 100%);
}

.stats{
  height: fit-content;
  background: #000000;
  width: 100%;
  margin-top: -1.5%;
  
}
.apy{
  height: fit-content;
  width: 100%;
  background: linear-gradient(298deg, rgb(27, 27, 27) 0%, rgb(119, 119, 119) 100%);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25)
}

.liquidity{
  height: fit-content;
  width: 100%;
  background: rgb(0,2,14);
  background: radial-gradient(circle, rgba(0,2,14,1) 4%, rgba(46,10,10,1) 100%, rgba(3,0,24,1) 100%);
}
.content{
  height: fit-content;
  margin-top: -2.7%;
  width: 100%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 767px) {
  .root{
    width: 100%
  }
  .App {
    text-align: center;
    height:fit-content;
    width: fit-content;
    background: #FFFFFF;
  }
  .landing{
    height: 700px;
    width: 100%;
    margin: auto;
    background: rgb(0,2,14);
  background: linear-gradient(97deg, rgba(0,2,14,1) 0%, rgba(52,9,9,1) 77%, rgba(3,0,24,1) 100%);
}
  .stats{
    height: 565px;
    background: #000000;
    width: 100%;
    margin-top: -1.5%;
  }
}