
         .btn-grad {
            margin: 10px;
            font-weight: bolder;
            text-align: center;
            text-transform: none;        
            display: block;
            color: #9b860d;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            text-decoration: none;
          }
          .launch-app{
            width: 13%;
            color: white;
            height: 44px;
            background: linear-gradient(316.29deg, #9C622E 22.96%, #FACB99 75.17%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          }
          @media only screen and (max-width: 767px) {
          .barTitle{
            font-family: 'Nunito', sans-serif;
            font-weight: bold;
            font-size: 24px;
            color: #FFD700;
            margin-left: 3%;
            text-align: left;
           }

          }
         