
         .barTitle{
          font-family: 'Raleway';
          font-weight: bold;
          font-size: 38px;
          color: #FFD700;
          margin-left: 3%;
          text-align: left;
         }
         .btn-grad {
            margin: 10px;
            font-family: 'Raleway';
            font-weight: bolder;
            text-align: center;
            text-transform: none;        
            display: block;
            color: #9b860d;
          }

          .btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            text-decoration: none;
          }
          @media only screen and (max-width: 767px) {
          .barTitle{
            font-family: 'Raleway';
            font-weight: bold;
            font-size: 24px;
            color: #FFD700;
            margin-left: 3%;
            text-align: left;
           }

          }
         