.ip-div{
    margin-top: 22%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-bottom: 6%;
}

.ip-title{
    margin: auto;
    margin-top: 1%;    
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.ip-desc{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: auto;
    margin-top: 0.5%;
    color: rgba(255, 255, 255, 0.534);

}

.ip-body{
    width: 35%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    color: #FFFFFF;
}