.info{
    text-align: left;    
	  margin-top: 3%;
	  display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center
  }
  .vertical{
    display:flex; 
    flex-direction: column;
  }
  .title{
    font-family: 'Nunito', sans-serif;
	  margin-top: 15%;
	  margin-left: 15%;
    color: rgb(255, 230, 0);
    font-size: 98px;
  }
  .desc{
    font-family: 'Nunito', sans-serif;
    margin-left: 15%;
    font-size: 42px;
    width: 80%;
	  color: rgb(255, 230, 0);
    margin-top: -5%;
	 
  }

  .img {
	width: 75%; 
  padding-left: 6%;
  }

  @media only screen and (max-width: 767px) {
    info{
      text-align: left;    
      margin-top: 1%;
      display: flex; 
      flex-direction: column; 
      justify-content: center; 
      align-items: center
    }
    .vertical{
      display:flex; 
      flex-direction: column;
    }
    .title{
      margin: auto;
      font-family: 'Nunito', sans-serif;
      margin-top: 15%;
      color: rgb(255, 230, 0);
      font-size: 50px;
      
    }
    .desc{
      font-family: 'Nunito', sans-serif;
      margin: auto;
      font-size: 27px;
      width: 80%;
      margin-top: -2%;
      text-align: center;
      color: rgb(255, 230, 0);
    }
    .img{
      display: none;
    }
  
  }