.info{
    text-align: left;    
	  margin-top: 3%;
	  display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    margin: auto;
    width: 100%;
    height: fit-content;
  }
  .auction{
    width: 13%;
            color: white;
            height: 44px;
            background: linear-gradient(316.29deg, #9C622E 22.96%, #FACB99 75.17%);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .vertical{
    display:flex; 
    flex-direction: column;
  }
  .title{
    font-family: Roboto;
    font-weight: 1000;
	  margin-top: 25%;
	  margin-left: 22%;
    color: #FFFFFF;
    font-size: 72px;
  }
  .desc{
    font-family: 'Roboto';
    font-weight: 300;
    margin-left: 22%;
    font-size: 36px;
    width: 70%;
	  color: #FFFFFF;
    margin-top: -3%;
	 
}

  .img {
	width: 80%;
  height: 80%;
  max-height: 500px;
  max-width: 500px; 
  margin-right: 10%;
  margin-left: 2%;
  margin-top: 5%;
}

@media only screen and (max-width: 767px) {
    .info{
      text-align: left;    
      margin-top: 1%;
      display: flex; 
      flex-direction: column; 
      justify-content: center; 
      align-items: center
    }
    .vertical{
      display:flex; 
      flex-direction: column;
    }
    .title{
      justify-content: center;
      margin: auto;
      font-family: 'Nunito', sans-serif;
      margin-top: 15%;
      font-size: 48px;
      
    }
    .desc{
      font-family: 'Nunito', sans-serif;
      margin: auto;
      font-size: 24px;
      width: 85%;
      margin-top: 1%;
      text-align: center;
      margin-bottom: 5%;
    }
    .img{
      display: block;
      width: 85%;
      height: 75%;
      margin: auto;
    }
  
  }