
.threethree-div{
    margin-top: 10%;
    display: flex;
    height: fit-content;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.threethree-body{
    position: absolute;
    width: 65%;
    height: 265px;
    margin: auto;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    font-size: 3.5vw;
    line-height: 53px;
    text-align: center;
    color: #ffffff;

}


.threethree-background{
    z-index: 100;
    margin-top: -10%;
    position: absolute;
    width: fit-content;
    height: 469px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 250px;
    font-size: 18.5vw;
    line-height: 469px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.04em;
    color: rgba(255, 255, 255, 0.09);
}


@media only screen and (max-width: 767px) {

    .threethree-div{
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: center;
    }
    
    .threethree-body{
        position: absolute;
        width: 80%;
        margin: auto;
        justify-content: center;
        font-family: Roboto;
        font-size: 18px;
        text-align: center;
        margin-top: 20%;
        line-height: 100%;
        color: #FFFFFF;
    }
    
    
    .threethree-background{
        z-index: 100;
        margin-top: -60%;
        position: absolute;
        width: 80%;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 85px;
        font-size: 15.5vw;
        /* identical to box height */
        text-align: center;
        letter-spacing: -0.04em;
        color: rgba(255, 255, 255, 0.25);
    }
}
